{% extends 'home_page.html' %}

{% block title %}
Faculties
{% endblock %}

{% block content %}
    <h1>Faculties</h1>
    {% for faculty in faculties %}
        <p><b>Name: {{ faculty.name }}</b></p>
        <p style="color: green;">Start date: {{ faculty.start_date }}</p>
        <p style="color: red;">End date: {{ faculty.end_date }}</p>
        <p>Active: {{ faculty.active }}</p>

        {% for kafedra in faculty.faculty.all %}
            <p>Kafedra: {{ kafedra.name }}</p>
        {% endfor %}
        <p>-------------------------------</p>
    {% endfor %}
{% endblock %}